* {
	font-family: 'Arial', 'Helvetica', sans-serif;
}

h1, h3, p {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, thead a, thead span {
	color: #0080ff;
}

body {
	background-color: #b7b7b7;
}


#experience td {
	max-width: 300px;
}

#head-space {
	height: 100px;
}

/*  table, th, td {
	border: 1px solid black;
}  */

/* 
	MAIN TABLE
*/

#main-table {
	background-color: #f1f1f1;
	padding: 30px;
	margin: 30px;
}

thead h1 {
	font-size: 3.5em;
}


/* 
	EXPERIENCE
*/

#experience tr {
	display: flex;
	align-items: flex-start;
	padding: 5px 0;
}

#experience td {
	padding-left: 20px;
	
}

#experience span {
	font-weight: bold;

}


.space {
	height: 150px;

}

.dave {
	margin-bottom: 0;
}

.date {

	width: 100px;
	text-align: center;
}


/* 
	SKILLS
*/


/* All Progress Bars */
progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Determinate */
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Indeterminate */
progress:not([value]) {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress {
	color: #0080ff;
	height: 10px;
	border: none;
}




/*
	WORK/PLAY BALANCE
*/

#play {
	position: relative;
}


#play #right {
	text-align: right;
}
.cube {
	width: 100px;
	height: 100px;
	background-color: #0080ff;
	opacity: 0.8;
	position: absolute;
	top: 60px;
	transform: rotate(-66deg);
}

#cube1 {
	left: 200px;
}

#cube2 {
	left: 260px;
}




